

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*reset das propriedades do body*/
html{
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    height: 100vh;
}
input[type="text"], input[type="email"], textarea{
    padding: 5px;   
    font-family: calibri;
    border: 1px solid #ccc;
    margin: 5px;
    width: 100%;
}
input[type="submit"]{
    padding: 10px;
    font-family: calibri;
    border: 1px solid #2e77ff;
    cursor: pointer;
}
input[type="submit"]:hover{
    color: #fff;
    background-color: #2e77ff;
}
input[type="reset"]{
    padding: 10px;
    font-family: calibri;
    border: 1px solid #ff702e;
    cursor: pointer;
}
input[type="reset"]:hover{
    color: #fff;
    background-color: #ff702e;
}
summary{
    cursor: pointer;
    list-style-type: none;
}
summary:hover{
    border-bottom: 3px solid #ccc;
}
header{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e7e7e7;
}
main{
    height: 86.9vh;
}
h1{
    margin: 0;
}
.banner{
    overflow: hidden;
    height: 100%;
}
.banner .slides{
    display: flex;
    width: calc(3*100vw); /*1326px é a largura disponivel dentro do container*/
    height: 100%;
    background-color: #ff0000;
}
.banner .slide{
    width: 100vw; 
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title-slide{
    display: flex;
    text-shadow: 2px 2px #000;
    background-color: rgba(0,0,0,0.5);
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    font-weight: 900;
}
.body-slide{
    text-align: center;
    text-shadow: 2px 2px #000;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-weight: 600;
}
.cabecalho{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
h4, h1{
    text-transform: uppercase;
}
.slide h1{
    font-size: 40px;
}
nav{
    display: flex;
    flex: 1;
    justify-content: center;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
li{
    padding: 30px;
}
li:hover, #nav_selected{
    background-color: #f1f1f1;
    border-bottom: 5px solid #838383;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #000;
}
.banner .sliders-controllers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #fff;
}
.banner .slide.vantagens-slide-security{
    background-image: url('security.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .slide.vantagens-slide-transacao{
    background-image: url('transacoes.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .slide.vantagens-slide-terceiros{
    background-image: url('banco.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .slide.desvantagens-slide-dinheiro{
    background-image: url('dinheiro.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .slide.desvantagens-slide-regulamentacao{
    background-image: url('regulamentacao.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .slide.desvantagens-slide-complexidade{
    background-image: url('complexidade.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .slide.impacto-slide-bitcoin{
    background-image: url('bitcoin.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}.banner .slide.impacto-slide-redes{
    background-image: url('redes.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}.banner .slide.impacto-slide-governo{
    background-image: url('governo.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-home{
    border-collapse: collapse;
    border: 1px solid #ccc;
}
.table-home th, .table-home td{
    padding: 5px;
} 